<div>
  <h4>{{instrument.brand}} {{instrument.model}}</h4>
  <img width="150px" src={{instrument.image}} alt={{instrument.title}}/>
  <p>Sinopsis: {{instrument.description}} Released in {{instrument.year}}.</p>
  <a href="/instruments/delete/{{instrument._id}}">Delete</a>
  <a href="/instruments/edit/{{instrument._id}}">Edit instrument</a>
</div>

 <form method="POST" action="/instruments/delete/{{_id}}">
    <button type="submit">Delete</button>
  </form>   Then the route should be router.post 