<div>
  <h4>{{instrument.title}}</h4>
  <img width="150px" src={{instrument.image}} alt={{instrument.title}}/>
  <p>Sinopsis: {{instrument.description}} Released in {{instrument.year}}.</p>
  <a href="/instruments/delete/{{instrument._id}}">Delete</a>
  <a href="/instruments/edit/{{instrument._id}}">Edit instrument</a>
</div>